In [13]:
#导入sqllite3模块 
import sqlite3 
# 1.硬盘上创建连接 
con = sqlite3.connect(f"file:../data/db/soccer.db?mode=rw", uri=True) 
# 获取cursor对象 
cur = con.cursor() 
# 执行sql创建表 
sql = 'create table Teams(id INTEGER PRIMARY KEY AUTOINCREMENT, name varchar(50) NOT NULL, UNIQUE(name))' 
dropSql = 'drop table teams'
try: 
    cur.execute(dropSql)
    cur.execute(sql)
except Exception as e: 
    print(e) 
    print('创建表失败') 
finally: 
    # 关闭游标 
    cur.close() 
    # 关闭连接 
    con.close()

In [1]:
#导入sqllite3模块 
import sqlite3 
# 1.硬盘上创建连接 
con = sqlite3.connect(f"file:../data/db/soccer.db?mode=rw", uri=True) 
# 获取cursor对象 
cur = con.cursor() 
# 执行sql创建表 
sql = '''create table Accuracy(id varchar(50) PRIMARY KEY, model varchar(50) NOT NULL, 
    team varchar(50), type varchar(10) NOT NULL, epoch REAL, loss REAL, acc REAL)''' 
dropSql = 'drop table Accuracy'
try: 
    cur.execute(dropSql)
    cur.execute(sql)
except Exception as e: 
    print(e) 
    print('创建表失败') 
finally: 
    # 关闭游标 
    cur.close() 
    # 关闭连接 
    con.close()

In [15]:
#导入sqllite3模块 
import sqlite3 
# 1.硬盘上创建连接 
con = sqlite3.connect(f"file:../data/db/soccer.db?mode=rw", uri=True) 
# 获取cursor对象 
cur = con.cursor() 
# 执行sql创建表 
sql = '''
create table Fixtures(id INTEGER PRIMARY KEY AUTOINCREMENT, date varchar(10) NOT NULL,
season varchar(10) NOT NULL, league varchar(10) NOT NULL, homeTeamID REAL NOT NULL,
awayTeamID REAL NOT NULL, home_goals REAL, away_goals REAL, winner REAL, 
oddsDC_1X REAL, oddsDC_X2 REAL, homeStatsID varchar(50), awayStatsID varchar(50))
'''
dropSql = 'drop table Fixtures'
try: 
    cur.execute(dropSql) 
    cur.execute(sql) 
except Exception as e: 
    print(e) 
    print('创建表失败') 
finally: 
    # 关闭游标 
    cur.close() 
    # 关闭连接 
    con.close()

In [16]:
#导入sqllite3模块 
import sqlite3 
# 1.硬盘上创建连接 
con = sqlite3.connect(f"file:../data/db/soccer.db?mode=rw", uri=True) 
# 获取cursor对象 
cur = con.cursor() 
# 执行sql创建表 
sql = '''
create table TeamStats(id varchar(50) PRIMARY KEY, fixtureID REAL, teamID REAL,
rating REAL, errors REAL, goals REAL, red_cards REAL, shots REAL)
'''
dropSql = 'drop table TeamStats'
try: 
    cur.execute(dropSql) 
    cur.execute(sql) 
except Exception as e: 
    print(e) 
    print('创建表失败') 
finally: 
    # 关闭游标 
    cur.close() 
    # 关闭连接 
    con.close()