In [6]:
import pandas as pd
import sqlite3

In [7]:
con = sqlite3.connect(f"file:../data/db/soccer.db?mode=rw", uri=True) 
# 获取cursor对象 
cur = con.cursor()

In [8]:
results = pd.read_sql("""
            SELECT *
            FROM Accuracy
            where team = 'Arsenal' and model = 'HGEV'
            """, con)

In [11]:
train_results = results[results['type'] == 'train']

train_results

,id,model,team,type,epoch,loss,acc
0,367505a4-c9be-4511-b732-bb859dca2cad,HGEV,Arsenal,train,0.0,1.791217,0.534351
2,32cdb8c3-52f1-42db-93c5-96de34df4729,HGEV,Arsenal,train,1.0,1.791217,0.534351
3,e57d6939-0b2e-45c5-9ad3-478c3eae6687,HGEV,Arsenal,train,1.0,1.283949,0.534351
6,884d5e88-a4bb-43c7-8066-a56e10451294,HGEV,Arsenal,train,2.0,1.791217,0.534351
7,18a247d4-11de-4284-8e8f-afe7502ce89d,HGEV,Arsenal,train,2.0,1.283949,0.534351
...,...,...,...,...,...,...,...
395,f37ea36d-f2ee-49b6-973f-b0390c922466,HGEV,Arsenal,train,19.0,0.778844,0.503817
396,74b36013-637c-443e-bc67-9ae4a64d6478,HGEV,Arsenal,train,19.0,0.771343,0.507634
397,c8eb9275-d17a-4021-9a5b-fbee7739a7a3,HGEV,Arsenal,train,19.0,0.772383,0.526718
398,8af23716-1268-47b7-8655-00da01ede756,HGEV,Arsenal,train,19.0,0.767558,0.538168
399,4608ff88-0840-4226-bc8b-9e5c7c9bfbbe,HGEV,Arsenal,train,19.0,0.763289,0.534351